// PASTE CUSTOM STYLING HERE
hr.border{
    border-color: #70706E;
}
.mega-cat-dropdown::-webkit-scrollbar-thumb{
    background:#cdcccc !important ;
}
.price_unit{
    text-transform: uppercase;
    color: #70706E;
    font-size: 13px;
    font-style: italic;

}
[data-test-info-type="stock"]{
    font-weight:normal;
    color: #037C11 !important;
    &.no-stock{
        color:#D53E07 !important;
    }
}
.modal-background{
    z-index: 1004;
}

//  header
header .navUser ul.navUser-section.navUser-section--alt {
    padding-top: 0;
}

ul.navUser-section li.navUser-item #validate-company.navUser-action {
    display: none;
}

ul.navUser-section div.dropdown form.form {
    display: flex !important;

    .search-icon.submit {
        top: 0;
    }
}

.navPages-container {
    .mega-cat-nav.active {
        position: absolute;
        width: 100%;

        .mega-cat-dropdown {
            width: 100%;
            max-height: 390px;
            height: max-content !important;
        }
    }
}
li.navPages-item.phone-number{
    &:before {
        color: #ffffff;
    }
}

header div#menu .mega-cat-nav.active{
    .navPages{
        text-align: left;
        .mega-cat-dropdown {
            padding: 29px !important;     
            height: 390px !important;      
            .mega-content{
                display: flex !important;
                flex-wrap: wrap;
                align-items: flex-start;
                width: 100%;
                .inner{
                    width: 30%;
                    padding-left: 0;
                    .fader{
                        display: flex;
                        flex-wrap: wrap;

                    }
                            
                }
            }
           
        }
    }

}

div#menu .mega-cat-dropdown .mega-content  {
    .container-header {
        color: #133579 !important;
        font-size: 22px !important;
        font-weight: bold;
        text-transform: uppercase;
    }
    hr.border{
        border-color: #E6E6E6;
    }
    .inner{
        li.navPages-item{
            word-break: break-word;
            a{
                text-decoration: none;
                width: 100%;
                display: inline-block;
                &:hover{
                    text-decoration: underline;
                    color: #133579 !important;
                }
            }
            .one_category{
                color: #133579 !important;
                font-size: 17px !important;
                font-weight: bold;
                text-transform: uppercase;
            }
            .two_category,.three_category,.four_category{
                font-size: 15px;
                font-weight: normal;
                text-decoration: none;
            }
            .two_category{
                font-weight: bold;
            }
            @include breakpoint("medium") {
                text-align: left;
                display: inline-block; 
                width: 50%;
                &:nth-child(odd){
                    padding-right: 2.5px;
                }
                &:nth-child(even){
                    padding-left: 2.5px;
                }
            }
            
        }
    }    
}
div#menu .mega-cat-nav {
    li.navPages-item{
        .mega-menu-icon,.burger-menu{
            fill: #fff;
            color: #fff;
            stroke: #fff;
        }
    }
}

.nav-middle{
    background-image: url("https://cdn11.bigcommerce.com/s-g0h3me329n/product_images/uploaded_images/menu-marketing-block2.png");
    margin: 15px 0;
    @include breakpoint("medium") {
        width: calc(40% - 60px);
        margin: 0 30px;
    }
    
    
}
.nav-last{
    background-image: url("https://cdn11.bigcommerce.com/s-g0h3me329n/product_images/uploaded_images/menu-marketing-block2.png");
    @include breakpoint("medium") {
       
        width: 25%;
      
    }
   
}
.nav-middle,.nav-last{
    background-repeat: no-repeat;
    height: 330px;
    background-size: cover;
    display:flex ;
        flex-wrap: wrap;
        align-items: flex-end;
    a{
        text-decoration: none;
        text-align: left;
        width: 100%;
        padding: 15px;
        @include breakpoint("medium") {
            padding: 30px;
        }
    }
    .text-wrapper{
        h1,p{
            margin: 0;
        }
        h1{
            font-size: 24px;
            color: #133579;
            text-transform: uppercase;
            @include breakpoint("medium"){
                font-size: 30px;
            }
        }
        p.banner-text{
            font-size: 12px;
            margin-bottom: 15px;
            @include breakpoint("medium"){
                font-size: 18px;
            }
        }
        p.banner-byline-text{
            font-size: 13px;
            color: #f58229;
            font-weight: bold;
            text-transform: uppercase;
            @include breakpoint("medium"){
                font-size: 15px;
            }
        }
    }
}


//  container
.featured-categories-banner.upper-banners.two-columns,
.featured-categories-banner.mid-banners.two-columns,
.featured-categories-banner.lower-banners.two-columns{
    ul.featured-categories li.category{
        .zoom-image-container{
            @include breakpoint("medium") {
               max-height: 200px;
            }
        }
    }
}

.featured-categories-banner.upper-banners,
.featured-categories-banner.mid-banners,
.featured-categories-banner.lower-banners {
    ul.featured-categories li.category{
        .zoom-image-container{
            position: relative;   
            min-height: 150px;  
            a img{
                min-height: 150px;
            }       
        }
        .text-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            padding-right: 0;
            padding: 15px;
            @include breakpoint("medium") {
                width: 70%;
               
            }
            @media screen and (min-width:1024px){
                width: 75%;
                padding: 30px;
            }
            @media screen and (min-width:1124px){
                width: 65%;
                padding: 30px            
            }
            h1{
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
                @include breakpoint("small") {
                    // height: ;
                }
                @media screen and (min-width:1024px) {
                    
                    font-size:30px;
                }
               
            }
            p{
                font-size: 15px;
                margin-bottom: 15px;
                &.featured-banner-byline-text  {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    
    }
}

.featured-categories-banner.upper-banners.one-column,
.featured-categories-banner.mid-banners.one-column,
.featured-categories-banner.lower-banners.one-column{
    ul.featured-categories li.category {
        .zoom-image-container{
            @include breakpoint("medium") {
                max-height: 230px;
            }
        }
        .text-wrapper {
            @include breakpoint("medium") {
                width: 55%;
            }
            
        }

    }
}



//    card
.slick-list {
    margin-left: -1px;
}

.productCarousel-slide.slick-slide {
    .card-img-container {}
}

article.card {
    border: 1px #D7D7D7 solid;
    padding: 10px;

    .card-img-container {
        margin-bottom: 12px;
    }

    .card-body {
        padding: 0 10px;
        text-align: left;
        .card-text{
            color: inherit;
            font-weight:bold;
            font-size:14px;
            line-height:1.5rem;
            &[data-test-info-type="stock"]{
                font-size: 13px;
            }
           
            &[data-test-info-type="price"] {
                font-size:15px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; // 2 行
                height: 36px; // 2行的高度
                overflow: hidden;
                /* autoprefixer: off  */
                -webkit-box-orient: vertical;
                /*  autoprefixer: on  */
                .price-section{
                    height: 18px;
                }
                >div{
                    display: inline-block;
                }
                .price--rrp, .price--non-sale, .price--discounted{
                    color:#70706E ;
                }
    
            }
            &[data-test-info-type="productRating"],&[data-test-info-type="brandName"]{
                display:none;
            }
            
        }

        .card-title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; // 2 行
            height: 42px; // 2行的高度
            overflow: hidden;
            /* autoprefixer: off  */
            -webkit-box-orient: vertical;
            /*  autoprefixer: on  */
        }
        
    }
}


//  footer
div.newsletter-subscription-section{
    border:none;
    background-image:url("https://cdn11.bigcommerce.com/s-g0h3me329n/product_images/uploaded_images/newsletter-background.png");
    background-repeat: no-repeat;
    background-size:cover;
    .half.left{
        .newsletter-heading{
            color:#133579;
            font-weight:bold;
            font-size: 25px;
        }
        .footer-newsletter-summary{
            font-size: 16px;
            font-weight: bold;
        }
    }
    .form{
        .form-prefixPostfix.wrap{
            input{
               border:none; 
               font-size: 15px;
               &::-webkit-input-placeholder{
                    color:#151515;
                    font-style:italic;
                }
            }
            
        }
    }
    
}
footer.footer{
    .footer-info{
        article.footer-info-col{
            padding-left: 30px;
            padding-right: 30px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            &[data-section-type="footer-webPages"]{
                ul.footer-info-list{
                    label{
                        font-size: 15px;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    li {
                        width: 100%;
                        a{
                            text-transform: none;
                            cursor:default;
                            padding: 0;
                            font-size: 15px;
                            font-weight: normal;
                            display: inline-block;
                            width: 100%;
                            &:hover{
                                color: #ffffff !important;
                            }
                        }
                    }
                }
            }
        }
    }

}
div#menu-wrapper.single-line #menu.fixed .mega-cat-nav{
    width: 100% !important;
}

//breadcrumb 
.breadcrumb {
    &:before,&>.breadcrumb-label{
        color: #151515 !important;
        text-transform: none;
        font-size: 15px;
    }
}
.breadcrumb.is-active{
    & > .breadcrumb-label{
        font-weight: bolder;
    }
}

//--------------PLP-----------------------
.page{
    //left nav Level 1 Title AND right level 1 Title
    .sidebarBlock-heading,.accordion-title,.toggleLink,.page-heading{
        font-size: 18px;
        color: #133579;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
        border: none;
        @include breakpoint("medium") {
            font-size: 22px;
            padding-left: 0;
        }
        .accordion-indicator{
            fill: #133579;
            position: relative;
            top: -2px;
        }
    }
//left nav
    .page-sidebar#faceted-search-container{
        //left nav Level 2 Title
        >nav>.sidebarBlock>ul>li>a{
            color: #133579;
            font-weight: bold;
            margin-bottom: 0;
            font-size: 16px;
            text-decoration: underline;
        }
        //left nav content
        .sidebarBlock ul.navList{
            margin-bottom: 5px;
        }
        p,a[data-faceted-search-facet][rel="nofollow"]{
            font-size: 15px;
            text-decoration: none;
            font-weight: normal;
            color: #151515;
        }
        .facetLabel[data-faceted-search-facet]{
            border: none;
            font-size: 15px;
            svg.icon{
                fill: #151515;
            }
        }
        a[data-faceted-search-facet][rel="nofollow"]{
            &:before{
                width: 12px;
                height: 12px;
                top: 53%;
            }
            &:after{
                transform: scale(0.9);
                left: -1px;
                top: 47%;
            }
        }
    }
    
//right content
    .page-content{
        .page-heading{
            font-size: 40px;
        }
        ul.navList{
            display: none;
        }

        form[data-sort-by]{
            .actionBar-section .form-field{
                border-color: #7d7d7d;
                padding-right: 10px;
                .form-label,select.form-select{
                    font-size: 15px;
                }
                .form-label{
                    color: #58595b;
                }
                select.form-select{
                    height: max-content;
                    font-weight: bold;
                    padding-top: 11px;
                    padding-bottom:11px;
                }
            }
        }

    }
}


//-------------PDP----------------
.productView{
    //product Img
    .productView-images{
        figure.productView-image,ul.productView-thumbnails li.productView-thumbnail a.productView-thumbnail-link{
            border:1px solid #D7D7D7 !important;
            &.is-active{
                border: 2px solid #E86826 !important;
            }
        }
        ul.productView-thumbnails .productView-thumbnail{
            
            @include breakpoint("small"){
                width:auto;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                &:first-child{
                    padding-left: 0.35rem;
                }
                
            }
            a{
                @include breakpoint("small"){
                    width: 75px;
                    height: 75px;
                    box-sizing: border-box;
                }
                
            }
        }
    }

    //product details
    .productView-details{
        [data-test-info-type="stock"]{
            font-size: 15px;
            margin-bottom: 8px;
            @include breakpoint("medium"){
               font-size: 19px; 
            }
        }
        //product title
        .productView-title[itemprop="name"]{
            margin: 0;
            margin-bottom: 8px;
            font-size: 22px;
            @include breakpoint("medium"){
                font-size: 28px; 
             }
        }
        //product sku
        .line-item-details.sku{
            dt,dd{
                font-family: "Lato";
                font-size: 15px;
                color: #58595B;
                font-weight: normal;
            }
        }
        //product price
        .productView-price{
            font-size: 28px;
            >div{
                display: inline-block;
            }
            >.price{
                display: none !important;
            }
            .price_unit{
                // font-style: normal;
                font-size: 15px;
                &:before{
                    content: "Pre";
                    font-size: 15px;
                    text-transform:none;
                }
            }


        }
        .form-label--alternate{
            font-family: "Lato";
            font-size: 16px;
        }
        .form-increment {
            input[name="qty[]"]{
                height: 36px;
            }
            .button--icon svg{
                width: 20px;
                height: 20px;
                position: relative;
                top: 5px;
            }
        }
    }
}
//product description
.productView-description #accordion{
    h3.ui-accordion-header{
        background: #133579;
        border-color: #133579;
        .tab-title{
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
        }
        svg.accordion-icon{
            fill: #fff;
        }

    }
}


// -----------------CART-------------------
.page-content[data-cart]{
    .page-heading[data-cart-page-title]{
        .label_num{
            font-size: 15px;
            font-family: "Lato";
            font-weight:normal;
            color: #58595B;
            text-transform:capitalize;
        }
    }
    .cart-header tr th{
        padding-bottom: 8px;
        text-align: left;
    }
    .cart-list tr td{
        text-align: left;
        .cart-remove{
            width: 25px;
            height: 25px;
            background-color: #E5E6E8;
            svg{
                width: 15px;
                height: 15px;
                fill: #000000;
                top: 2px;
                position: relative;
            }
        }
        &.cart-item-block.cart-item-title{
            @media (min-width:800px){
                padding: 2.5rem;
            }
        }
        &.cart-item-info{
            .cart-item-value {
                
                font-size: 18px;
                font-family: "Libre Franklin";
                font-weight: bold;
                
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
        &.cart-item-quantity{
            .form-increment{
                input{
                    height: 36px;
                }
            }
            @media (min-width:800px) and (max-width:867px){
                width: 20%;
            }

        }
    }
    .card-text[data-test-info-type="stock"]{
        font-size: 16px;
        font-family: "Libre Franklin";
    }
    .cart-item-name{
        .cart-item-name__label{
            font-size: 18px;
            color: #151515;
            text-decoration: none;
        } 
    }
    .cart-item-sku,.definitionList .definitionList-value,.definitionList .definitionList-key{
        margin-bottom: 0;
        color: #58595B;
        font-size: 13px;
    }
    [data-item-edit]{
        color: #133579;
        font-size: 16px;
        font-weight: bold;
    }

    [data-cart-totals] ul.cart-totals{
        li.cart-total{
            .cart-total-label{
                font-family: "Libre Franklin";
                text-transform: uppercase;
            }
        }
        .coupon-code-add, .coupon-code-cancel, .shipping-estimate-show, .shipping-estimate-hide, .gift-certificate-add, .gift-certificate-cancel{
            color: #133579;
            font-weight: bold;
            font-style: normal;
            font-size: 16px;
        }
        li.price-total{
            .cart-total-label,.cart-total-value.cart-total-grandTotal{
                font-size: 20px;
                font-family: "Libre Franklin";
                font-weight: bold;
            }
        }
    }
    .cart-actions{
        @include u-listBullets("none");
        width: 100%;
    
        @include breakpoint("small") {
            float: right;
            width: grid-calc(9, $total-columns);
        }
    
        @include breakpoint("medium") {
            margin-bottom: spacing("base");
            width: grid-calc(7, $total-columns);
        }
    
        @include breakpoint("large") {
            width: grid-calc(5, $total-columns);
        
        }
        svg{
            width: 13px;
            height: 17px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
        a.button{
            width: 100%;
            font-size: 17px;
        }

    }
}

//---------------CHECKOUT--------------------

