
{{#if bulk_discount_rates.length}}
    {{!--
    {{#if product}}<dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>{{/if}}
   
    <dd class="productView-info-value">
        <a href="{{product.url}}#bulk_pricing"
           {{#unless is_ajax }}data-reveal-id="modal-bulk-pricing"{{/unless}}>
            {{lang 'products.bulk_pricing.view'}}
        </a>
    </dd>

 
    <div id="modal-bulk-pricing" class="modal modal--small" data-reveal>
        <div class="modal-header">
            <h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
            <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
        </div>
        <div class="modal-body">
            <p>{{lang 'products.bulk_pricing.instructions'}}</p>
            <ul>
                {{#each bulk_discount_rates}}
                <li>
                    {{lang 'products.bulk_pricing.range' min=min max=max}}
                    {{#if type '===' 'percent'}}
                    {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                    {{/if}}
                    {{#if type '===' 'fixed'}}
                    {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                    {{/if}}
                    {{#if type '===' 'price'}}
                    {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    --}}

    <div class="price-bulk-pricing">
        <h4>price breaks</h4>
        <table>
            <tr class="table-title">
                <th>Quantity</th>
                <th>Total Pieces</th>
                <th>Discount ( $ )</th>
                <th>Total</th>
            </tr>
            {{assignVar "price" price.without_tax.value}}
            {{#each bulk_discount_rates}}
                <tr class="table-content">
                    <td>{{min}} Case</td>
                    {{assignVar "totalNum" (multiply (toInt min) (getVar "price"))}}
                    <td>{{money (getVar "totalNum") 2 "," "."}}</td>

                    {{#if type "==" "fixed"}}
                        <td>-{{money (subtract (getVar "price") discount.value) 2 "," "."}}</td>
                        <td>{{money (multiply (toInt min) discount.value) 2 "," "."}}</td>
                    {{else if type "==" "price"}}
                        <td>-{{money (subtract (getVar "price") discount.value) 2 "," "."}}</td>
                        <td>{{money (multiply (toInt min) discount.value) 2 "," "."}}</td>
                    {{else if type "==" "percent"}}
                        <td>-{{discount.formatted}}</td>
                        <td>{{subtract (getVar "totalNum") (multiply (toFloat (divide discount.value 100)) (getVar "totalNum")) }}</td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    </div>

{{/if}}
